body {
  /* margin: 0;
  padding: 0;
  font-family: sans-serif; */
}

:root{
  --primary-color:#02b393;
  --white-color:#ffffff
}

.heading{
  text-align: center;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  width: 100%;

}

th{
  background-color: var(--primary-color);
  color: var(--white-color);
}

td, th {
  text-align: left;
  padding: 10px;
}

td{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.navigateBtn{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  
}
.navBtn{
  background-color: var(--primary-color);
  border-radius: .5rem;
  border:none;
  cursor: pointer;
  padding:1rem;
  color: var(--white-color);
  font-weight: bold;
}

.currPage{
  padding:1rem;
  border-radius: .5rem;
  background-color: var(--primary-color);
  margin:0rem .5rem;
  font-weight: bold;
}

